<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="parallelTest">
    <classes>
      <class name="statefarm.QA_TestClasses.ExcelDataProviderTest"/>
      <class name="statefarm.QA_TestClasses.RobustTestClasses"/>
      <class name="statefarm.QA_TestClasses.AutoDataProviderTest"/>
    </classes>
  </test> <!-- parallelTest -->
</suite> <!-- Suite -->
